<launch>
    <!-- The package has 2 examples of converting joystick commands to servo commands.
         This is the higher-latency, Python-based teleop_tools example.
         You can modify it in your own package for your own type of gamepad or joystick.
         We do plan to accept pull requests of config files for other controller types using this method.
    -->
    <group ns="arm">
        <!-- This node does the servoing calculations -->
        <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen">
            <param name="parameter_ns" type="string" value="optional_parameter_namespace"/>
            <rosparam ns="optional_parameter_namespace" command="load"
                      file="$(find moveit_servo)/config/elite_simulated_config.yaml"/>
        </node>

        <!-- teleop_tools translates a joystick command into a twist message -->
        <arg name="teleop_config" default="$(find moveit_servo)/config/teleop_tools_mapping.yaml"/>
        <rosparam file="$(arg teleop_config)" command="load"/>

        <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
            <!--    <remap from="joy" to="arm/joy" />-->
        </node>

        <arg name="dev" default="/dev/input/js0"/>
        <!-- Launch joy node -->
        <node pkg="joy" type="joy_node" name="joy">
            <param name="dev"
                   value="$(arg dev)"/> <!-- Customize this to match the location your joystick is plugged in on-->
            <param name="deadzone" value="0.2"/>
            <param name="autorepeat_rate" value="40"/>
            <param name="coalesce_interval" value="0.025"/>
        </node>
    </group>
</launch>
